body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    display: none;
}